@{
    ViewBag.Title = "Countries";
    int i = 0;
}

<div class="jumbotron">
    <table style="width:100%">
        <tr>
            <th>Country Info</th>
            <th>Region</th>
            <th>Subregion</th>
        </tr>
        @foreach (CountriesOfTheWorld.Models.Country country in ViewBag.CountryData)
        {
            <tr>
                <td>
                    <div id="country_@country.alpha2Code" onclick="$('#extra_@country.alpha2Code').toggleClass('hidden');">@country.name</div>
                    <div id="extra_@country.alpha2Code" class="hidden" style="background: #B695C0;">
                        <div onclick="$('#extra_@country.alpha2Code').toggleClass('hidden');">
                            Capital City: @country.capital
                            <br />
                            Total Population: @country.population
                            <br />
                            Currencies:
                            @foreach (CountriesOfTheWorld.Models.Currency currency in country.currencies)
                            {
                                @currency.name
                                <br />
                            }
                            Languages:
                            @foreach (CountriesOfTheWorld.Models.Language language in country.languages)
                            {
                                @language.name
                                <br />
                            }
                        </div>
                        @if (country.borders.Count > 0)
                        {
                            <span>
                                Bordering Countries:
                            </span>
                            foreach (CountriesOfTheWorld.Models.Country borderCountry in country.BorderCountries.Values)
                            {
                                <br />
                                <div onclick="$('#bordering_@country.alpha2Code@borderCountry.alpha2Code').toggleClass('hidden');">
                                    @borderCountry.name
                                </div>
                                <div id="bordering_@country.alpha2Code@borderCountry.alpha2Code" class="hidden" style="background: #ADD8E6;">
                                    Capital City: @borderCountry.capital
                                    <br />
                                    Total Population: @borderCountry.population
                                    <br />
                                    Currencies:
                                    @foreach (CountriesOfTheWorld.Models.Currency currency in borderCountry.currencies)
                                    {
                                        @currency.name
                                        <br />
                                    }
                                    Languages:
                                    @foreach (CountriesOfTheWorld.Models.Language language in borderCountry.languages)
                                    {
                                        @language.name
                                        <br />
                                    }
                                </div>

                            }

                        }
                    </div>
                </td>
                <td>
                    <div id="region_@country.region@country.name" onclick="$('#region_extra_@country.region@country.name').toggleClass('hidden');">
                        @country.region
                    </div>

                    <div id="region_extra_@country.region@country.name" class="hidden" style="background: #B695C0;">
                        @if (!string.IsNullOrEmpty(country.region))
                        {
                            @ViewBag.Service.GetRegion(country.region).Info()
                            <br />
                            <span>Countries:</span><br />
                            foreach (CountriesOfTheWorld.Models.Country countryInRegion in ViewBag.Service.GetRegion(country.region).Countries)
                            {
                                <div onclick="$(this).find('div').first().toggleClass('hidden');">
                                    @countryInRegion.name
                                    <div class="hidden" style="background: #ADD8E6;">
                                        Capital City: @countryInRegion.capital
                                        <br />
                                        Total Population: @countryInRegion.population
                                        <br />
                                        Currencies:
                                        @foreach (CountriesOfTheWorld.Models.Currency currency in countryInRegion.currencies)
                                        {
                                            @currency.name
                                            <br />
                                        }
                                        Languages:
                                        @foreach (CountriesOfTheWorld.Models.Language language in countryInRegion.languages)
                                        {
                                            @language.name
                                            <br />
                                        }
                                    </div>
                                </div>
                            }

                            <span>Subregions:</span><br />
                            foreach (CountriesOfTheWorld.Models.SubRegion subRegion in country.Region.SubRegions.Values)
                            {
                                <div onclick="$('#crsc_@country.name@country.region@subRegion.ShortName').toggleClass('hidden');">
                                    @subRegion.Name <br />
                                    <div id="crsc_@country.name@country.region@subRegion.ShortName" class="hidden" style="background: #ADD8E6;">
                                        Population: @subRegion.Population <br />
                                        Region: @subRegion.Region.Name <br />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </td>
                <td>
                    <div id="subregion_@country.alpha2Code@country.SubRegion.ShortName" onclick="$('#cs_@country.alpha2Code@country.SubRegion.ShortName').toggleClass('hidden');">
                        @country.subregion
                    </div>
                    <div id="cs_@country.alpha2Code@country.SubRegion.ShortName" class="hidden" style="background: #B695C0;">
                        @country.SubRegion.Info() <br />
                        <div onclick="$('#csr_@country.alpha2Code@country.SubRegion.ShortName@country.SubRegion.Region.Name').toggleClass('hidden');">Region: @country.Region.Name <br /></div>
                        <div id="csr_@country.alpha2Code@country.SubRegion.ShortName@country.SubRegion.Region.Name" class="hidden" style="background: #ADD8E6;">
                            @country.SubRegion.Region.Info()
                        </div>
                        Countries:
                        @foreach (CountriesOfTheWorld.Models.Country subregionCountry in country.SubRegion.Countries.Values)
                        {
                            <div onclick="$('#csc_@country.alpha2Code@country.SubRegion.ShortName@subregionCountry.alpha2Code').toggleClass('hidden')">@subregionCountry.name</div>
                            <div id="csc_@country.alpha2Code@country.SubRegion.ShortName@subregionCountry.alpha2Code" class="hidden" style="background: #ADD8E6;">
                                Capital City: @subregionCountry.capital
                                <br />
                                Total Population: @subregionCountry.population
                                <br />
                                Currencies:
                                @foreach (CountriesOfTheWorld.Models.Currency currency in subregionCountry.currencies)
                                {
                                    @currency.name
                                    <br />
                                }
                                Languages:
                                @foreach (CountriesOfTheWorld.Models.Language language in subregionCountry.languages)
                                {
                                    @language.name
                                    <br />
                                }
                            </div>
                        }
                    </div>


                </td>
            </tr>
            i++;
        }
    </table>
</div>